﻿@model TSystems.TorneioDeLuta.Models.LutadoresModel

@{
    ViewBag.Title = "Torneio de Luta";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<div class="row">
    <div class="col-md-12" style="text-align: center">
        <h1>@ViewBag.Title</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="submit" onclick="IniciarTorneio()" class="btn btn-secondary" id="BtnIniciarFaseDeGrupo" name="BtnIniciarFaseDeGrupo" value="Index" disabled>Iniciar</button>
    </div>
</div>
<div class="row">
    @using (Html.BeginForm("Index", "Final", FormMethod.Post))
    {
    <div class="col-md-12">
        @for (int i = 0; i < ViewBag.LutadoresModel.Count; i++)
        {
            <div class="col-md-4">
                <div class="card" style="width: 36rem;">
                    <div class="card-body">
                        <p><h4 style="background-color:#a39f9f;"><input type="checkbox" name="CbSelecionarLutador" onclick="SetLutador()" /> <b>@ViewBag.LutadoresModel[i].Nome</b></h4></p>
                        <input type="hidden" name="Nome" id="Nome" value="@ViewBag.LutadoresModel[i].Nome" />
                        <input type="hidden" name="Idade" id="idade" value="@ViewBag.LutadoresModel[i].Idade" />
                        <p><b>Idade: </b>@ViewBag.LutadoresModel[i].Idade</p>
                        <input type="hidden" name="Lutas" id="Lutas" value="@ViewBag.LutadoresModel[i].Lutas" />
                        <p><b>Lutas: </b>@ViewBag.LutadoresModel[i].Lutas</p>
                        <input type="hidden" name="Derrotas" id="Derrotas" value="@ViewBag.LutadoresModel[i].Derrotas" />
                        <p><b>Derrotas: </b>@ViewBag.LutadoresModel[i].Derrotas</p>
                        <input type="hidden" name="Vitorias" id="Vitorias" value="@ViewBag.LutadoresModel[i].Vitorias" />
                        <p><b>Vitórias: </b>@ViewBag.LutadoresModel[i].Vitorias</p>
                        <input type="hidden" name="QuantidadeArtesMarciais" id="QuantidadeArtesMarciais" value="@ViewBag.LutadoresModel[i].QuantidadeArtesMarciais" />
                        <p><b>Artes Marciais: </b>@ViewBag.LutadoresModel[i].QuantidadeArtesMarciais</p>
                    </div>
                </div>
            </div>
            }
    </div>
    }
</div>