﻿@{
    ViewBag.Title = "Torneio de Luta - Final";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<div class="row">
    <div class="col-md-12"  style="text-align: center">
        <h1>@ViewBag.Title</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="text-align: center">
        <div class="col-md-offset-3 col-md-6" style="text-align: center">
            <div class="card">
                <div class="card-body">
                    <p><h4 style="background-color:#a39f9f;"><b>Campeão </b></h4>
                    <p><h6><b>@ViewBag.Final[0].Nome</b></h6></p>
                    <p><h4 style="background-color:#a39f9f;"><b>Segundo </b></h4>
                    <p><h6><b>@ViewBag.Final[1].Nome</b></h6></p>
                    <p><h4 style="background-color:#a39f9f;"><b>Terceiro </b></h4>
                    <p><h6><b>@ViewBag.Final[2].Nome</b></h6></p>
                </div>
            </div>
        </div>
    </div>
</div>